@media only screen and (max-width: 1528px) {
  body{
    width:0;
  }

  #BannerId{
    margin-left:0vw;
  }

  .MainContentClass img{
    width: 80vw;
  }

  .MainContentBoxClass{
    min-width: 340px;
    font-size: 20px;
  }

  .scrollButton{
    width: 5.5vw;
    height: 5.5vw;
  }
}
