@media only screen and (max-width: 1528px) {
  body{
    width:0;
  }

  .spacer{
    height: 350px;
  }

  .bottomspacer{
    height: 50px;
  }

  #BannerId{
    margin-left:0vw;
  }

  .MainContentClass img{
    width: 100%;
  }
  .column {
    height: auto;
    flex-basis: 100%;
  }
  .row {
    height: auto;
    margin-top: 10px;
  }

  .MainContentBoxClass{
    min-width: 100% !important;
    font-size: 20px;
    float: none !important;
  }
  .MainContentClass {
    margin: auto;
    width: 100vw;
  }
  .MainContentBoxClass h3 {
    text-align: center;
  }

  .scrollButton{
    width: 5.5vw;
    height: 5.5vw;
  }

  #Footer{
    width: 100vw;
  }

  .ProfileContentClass img{
    width: 80vw;
    margin-top: 18vh;
  }

  /* Navbar changes */
  #Hamburger {
    display: block;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
  }
  #Nav {
    display: none;
    margin-right: 10px;
    margin-left: 100vw;
    margin-top: 0px;
  }
  #Nav li {
    display: block;
    width: 100px;
    float: right;
  }
  #Nav_Container {
    display: inline-block;
    float: right;
    width: 75px;
    height: 75px;
    margin-top: -10px;
  }
  #Title_Text{
    font-size: 15px;
  }
}
